<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a [routerLink]="router[0].route" class="navbar-brand">Navbar</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngFor="let navigate of navigation" class="navbar-nav mr-auto">
      <li [routerLinkActive]="navigate.classActive" [routerLink]="navigate.route" class="nav-item">
        <a class="nav-link">{{navigate.name}}<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
